
  <ion-header>
  <ion-toolbar>
    <ion-title>
      Pagina de Logeo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img style="width: 300px; height: 300px;" src="/assets/loginpict.jpg"></ion-img>
    </ion-card>

    <ion-item>
      <ion-label>Ingrese su Nombre:</ion-label>
      <ion-textarea placeholder="Enter a description"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-textarea placeholder="Enter a description"></ion-textarea>
      </ion-item>

      <ion-item>
      <button ion-button large color="primary">Ingrese</button>
      </ion-item>


    
</ion-content>
